<!-- CSS -->
<style>
  #opacity{
    opacity: 0.9;
  }
</style>

                                  <!-- NAVIGATION -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="opacity">
  <a class="navbar-brand" href="/">Practice Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav">
              <li class="nav-item active">
                 <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
               </li>

               {%if session.logged_in%}


  
               <li class="nav-item">
                  <a class="nav-link btn" href="/dashboard">Dashboard</a>
               </li>

               <li class="nav-item">
                  <a class="nav-link btn" href="/skills">Skills</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link btn" href="/logout">Logout</a>
                </li>

               {%else%}

              <li class="nav-item">
                <a class="nav-link btn" href="/register">Register</a>
              </li>

              <li class="nav-item">
                <a class="nav-link btn" href="/login">Login</a>
              </li>

               {%endif%}

            </ul>
          </div>
</nav>
                                  <!-- NAVIGATION END -->